<div style="padding: 20px; text-align: center;">
  <h2 style="color: white"> Página no encontrada!</h2>

  <br>
  
  <div class="suscribete-button-container"> 
    <button routerLink="/subscribe" type="button" class="btn btn-secondary">Suscribete en Calato Night!</button>
  </div> 
</div>
