<ngx-spinner type="pacman" size="large"></ngx-spinner>
<ng-snotify class="dark"></ng-snotify>

<div class="subscribe">
    <div class="box">
        <!-- <button (click)="test()">TEST API</button> -->
        <!-- <button (click)="testsNotifyService()">Tests Notify Service</button> -->

        <div class="title" style="text-align: center; padding-top: 15px;">
            <a routerLink="/">
                <!-- <h1>Calato Night</h1> -->
                <img style="width: 230px;" src="/assets/img/calato-logo.png">
            </a>
        </div>

        <div class="form-container container-fluid">
            <div class="row">
                <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()"  novalidate>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre:</label>
                        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Nombre Completo" aria-describedby="nameHelp" >
                        <small id="nameHelp" class="form-text text-muted">Nunca compartiremos su información con nadie más.</small>
                        <div *ngIf="inputInstance('name').invalid && (inputInstance('name').dirty || inputInstance('name').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('name')" class="error-message">
                                <span>{{ errorMessages('name') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Edad:</label>
                        <input type="number" step="1" min="18" max="80" class="form-control" name="age" formControlName="age" placeholder="18">
                        <div *ngIf="inputInstance('age').invalid && (inputInstance('age').dirty || inputInstance('age').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('age')" class="error-message">
                                <span> {{ errorMessages('age') }} </span>
                            </div>
                        </div>    
                    </div>

                    <div class="sex-form-group">
                        <!-- <div>
                            <label>Sexo:</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" formControlName="sex" value="female">
                            <label class="form-check-label" for="sex-1">Femenino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" formControlName="sex" value="male">
                            <label class="form-check-label" for="sex-2">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" formControlName="sex" value="n/a">
                            <label class="form-check-label" for="sex-3">N/A</label>
                        </div> -->

                        <label for="sex">Sexo:</label>
                        <select class="form-control" id="sex" formControlName="sex">
                            <option value="female">Femenino</option>
                            <option value="male">Masculino</option>
                            <option value="n/a">Reservado</option>
                        </select>

                        <div *ngIf="inputInstance('sex').invalid && (inputInstance('sex').dirty || inputInstance('sex').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('sex')" class="error-message">
                                <span> {{ errorMessages('sex') }} </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input type="email" class="form-control" name="email" formControlName="email" placeholder="">
                        <div *ngIf="inputInstance('email').invalid && (inputInstance('email').dirty || inputInstance('email').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('email')" class="error-message">
                                <span> {{ errorMessages('email') }} </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Número Telefónico</label>
                        <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="">
                        <div *ngIf="inputInstance('phone').invalid && (inputInstance('phone').dirty || inputInstance('phone').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('phone')" class="error-message">
                                <span> {{ errorMessages('phone') }} </span>
                            </div>
                        </div>
                    </div>

                    <div class="q1-form-group">
                        <div>
                            <label>¿Alguna vez has participado en una reunión de este tipo?:</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="veteran" formControlName="veteran" value="si">
                            <label class="form-check-label" for="veteran">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="veteran" formControlName="veteran" value="no">
                            <label class="form-check-label" for="veteran">No</label>
                        </div>
                        <div *ngIf="inputInstance('veteran').invalid && (inputInstance('veteran').dirty || inputInstance('veteran').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('veteran')" class="error-message">
                                <span> {{ errorMessages('veteran') }} </span>
                            </div>
                        </div>    
                    </div>

                    <div class="form-group">
                        <label for="referred">¿A través de qué medio llegaste a nuestra página? Facebook, Instagram, correo electrónico, recomendación de otra persona:</label>
                        <!-- <input type="text" class="form-control" name="referred" formControlName="referred" placeholder=""> -->
                        <select class="form-control" id="referred" formControlName="referred">
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Correo electrónico">Correo electrónico</option>
                            <option value="Recomendación">Recomendación</option>
                        </select>
                        

                        <div *ngIf="inputInstance('referred').invalid && (inputInstance('referred').dirty || inputInstance('referred').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('referred')" class="error-message">
                                <span> {{ errorMessages('referred') }} </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="referred">Te gustaría que se realice una temática en específico. Déjanos tu sugerencia</label>
                        <input type="text" class="form-control" name="suggestion" formControlName="suggestion" placeholder="">
                        <div *ngIf="inputInstance('suggestion').invalid && (inputInstance('suggestion').dirty || inputInstance('suggestion').touched)" class="error-message-container">
                            <div *ngIf="inputInstance('suggestion')" class="error-message">
                                <span> {{ errorMessages('suggestion') }} </span>
                            </div>
                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-primary send" [disabled]="subscribeForm.invalid">Enviar</button>
                    <span style="padding-left: 10px;"> Nota: Cuando el formulario sea válido podrás enviar tu solicitud!</span>

                </form>
            </div>
        </div>

        <button style="color:white; padding: 0; margin: 0; border: 0;" routerLink="/terms-and-conditions" type="button" class="btn btn-link" >Términos y condiciones</button>

        <!-- <div class="subscriptions card">
            <div class="card-body">                    
                <h5 class="card-title">Suscripciónes:</h5>
                <p class="card-text">
                    <b>Paquete Premium Gold</b><br>

                        S/. 500 o 150$ por 6 meses<br><br>
    
                    <b>Paquete plata</b><br>
    
                        S/. 300 o 90$ por 3 meses<br><br>
    
                    <b>NOTAS:</b> <br>
    
                    - Con cada paquete cuentas con el derecho a participar en nuestras actividades que serán mensuales o quincenales.<br>
                    - Notificaciones en correos de vencimiento de suscripciones.<br>
                    

                </p>
            </div>
        </div> -->

        <!-- <hr>
        <div class="card test">
            <div class="card-body">       
                <pre>
                    <p>Form value: {{ subscribeForm.value | json }}</p>
                    <p>Form status: {{ subscribeForm.status | json }}</p>
                    <p>Form errors: {{ subscribeForm.errors | json }}</p>
                    <p>Form errors: {{ inputInstance('name').invalid | json }}</p>                
                </pre>        
            </div>
        </div> -->

    </div>      
</div>


