body, html {
    height: 100%;
}

.subscribe {
    background-image: url('/assets/img/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height:100vh;
    padding: 30px 20px;
    
    .box {
        max-width: 700px;
        margin: 0 auto;
        background:#020005;
        border-radius: 10px;
        color: floralwhite;
        padding: 10px;
        border: 1px solid #e3c5ff;
        box-shadow: inset 0 0 8px 3px #260022;
        margin-bottom: 30px;

        .title {
            a, a:visited, a:link, a:active {
                color: #FFFFFF;
                text-decoration: none;
            }
            a:hover {
                color: #efc7ff;
            }


            margin-bottom: 20px;
            h1 {
                font-family: 'Merienda', cursive;
            }    
        }

        .sub-title {
            p {
                font-family: 'Dosis', sans-serif;
            }
        }

        .form-container  {
            font-family: 'Dosis', sans-serif;
            margin-bottom: 20px;

            button.send {
                background-color: #000000;
                border-color: #660063;
            }

            button.send:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
            }

            .q1-form-group {
                margin-bottom: 20px;
            }

            .error-message {
                color: #ff6c6c;
            }
        }

        .subscriptions {
            color: #41033c;
            font-family: 'Dosis', sans-serif;
        }

    }

}

