/* You can add global styles to this file, and also import other style files */
// Fonts
@import url("https://fonts.googleapis.com/css?family=Dosis|Merienda|Poppins");

body {
    background: #030303 !important;
}

body.subscribe {
    background: #020202 !important;
}

.form-control {
    background-color: #d6a8ff;
}

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
