.bg {
    background-color: #000000;
    background-image: url('/assets/img/crissXcross.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;    
}

.terms-and-conditions-container {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.suscribete-button-container {
    padding: 20px 0;
    
    button {
        width: 100%;
        border-radius: 0;
        background-color: #401c56;
        border-color: #472e40;        
    }


    button:hover {
        background-color: #260f35;
        border-color: #47283e;        
    }

    button:focus {
        box-shadow: 0 0 0 0.2rem rgba(42, 21, 37, 0.53);
    }

    button:active {
        background-color: #260f35;
    }

} 

