<div class="bg">
    <div class="terms-and-conditions-container">

      <div class="suscribete-button-container"> 
          <button routerLink="/subscribe" type="button" class="btn btn-secondary">Suscribete!</button>
      </div>
    
      <div class="subscriptions card">
          <div class="card-body">                    
            <h5 class="card-title"><b>Términos y condiciones de contratación de servicios Calato Night:</b></h5>
    
            <p class="card-text">
              <b>PARTES</b><br> 
              De una parte la compañía Calato Night . Y de otra EL SUSCRIPTOR; ambas partes, reconociéndose mutuamente capacidad legal para obligarse, manifiestan que están interesadas en concertar un contrato de prestación de servicios de acuerdo a las siguientes CONDICIONES PARTICULARES.<br><br>
              
              <b>OBJETO y AMBITO.</b><br>
              - El presente contrato tiene por objeto determinar las condiciones y términos para la prestación de los Servicios de Calato Nigth y la contraprestación debida por EL SUSCRIPTOR, así como la utilización del Servicio por EL SUSCRIPTOR. Mediante la presente suscripción Calato Night otorgará a EL SUSCRIPTOR un servicio de suscripción que permitirá a sus usuarios afiliados disfrutar de fiestas y reuniones privadas. La suscripción se concede en forma exclusiva A EL SUSCRPTOR y no es transferible. La prestación de los Servicios se llevará a cabo como contraprestación a los precios vigentes en cada momento. Todos los Servicios de Calato Night ofertados por su página se regirán por las Condiciones de Contratación aquí recogidas y por las Condiciones Particulares que en su caso se apliquen a cada uno de los Servicios.<br><br>
              
              
              <b>TERMINOS DE LA CONTRATACION:</b><br><br>
              
              
              <b>SOLICITUD:</b><br><br>
              
              EL SUSCRIPTOR es responsable de que tanto los datos incorporados en la Solicitud de Contratación, como aquellos otros datos relativos al proceso de registro, sean veraces, exactos y completos, comprometiéndose a comunicar a CALATO NIGTH todos los cambios en los mismos que fuesen necesarios para la gestión y mantenimiento de la relación contractual, debiendo actuar con especial diligencia respecto de la actualización de los datos relativos a su tarjeta de crédito o débito.<br><br>
              
              <b>ACEPTACIÓN O DENEGACIÓN</b><br>
              
              Se entenderá que una Solicitud de Contratación ha sido aceptada cuando el solicitante reciba una confirmación de la aceptación por parte de CALATO se reserva el derecho de aceptar o rechazar cualquier suscripción por las siguientes causales: que compruebe que los datos facilitados son contrarios a la verdad y/o inexactos; que considere que la solicitud formulada no se ajusta a los términos recogidos en las Condiciones de Contratación y/o dañe o pueda dañar la imagen corporativa de CALATO NIGTH o fuese contraria a los propósitos comerciales perseguidos por CALATO NIGTH. La notificación de denegación de la prestación del servicio será realizada por correo electrónico. El solicitante cuya petición hubiera sido rechazada podrá solicitar los servicios de nuevo, siempre y cuando las razones que hubieren dado lugar a su no-admisión hubieren sido debidamente corregidas o eliminadas.<br><br>
              
              <b>VIGENCIA DE LA RELACIÓN</b><br>
              
              La relación contractual entre CALATO NIGTH y el Suscriptor entrará en vigor el mismo día en el que CALATO NIGTH comunique al Suscriptor la aceptación de la Solicitud de suscripción de los servicios, o desde que proceda a la activación del Servicio contratado, y terminarán por el incumplimiento de algunas de las condiciones aquí pactadas o establecidas por ley, entre ellas: por la finalización del plazo de vigencia o de cualesquiera de sus prórrogas; por mutuo acuerdo entre las partes manifestado expresamente por escrito; por incumplimiento por parte de EL SUSCRIPTOR de los pactos y condiciones que se especifican en este contrato.<br><br>
              
              <b>CONDICIONES ESPECÍFICAS DE LA SUSCRIPCIÓN:</b> La suscripción otorgada por IT REGIONAL SOFT S.R.L a EL SUSCRIPTOR, por medio de Dimoi® comprende todos los servicios establecidos en el apartado: SERVICIOS Y PRECIOS. Así mismo la presente contratación se encuentra regulada por los siguientes deberes y derechos de IT REGIONAL SOFT S.R.L Y EL SUSCRIPTOR:<br><br>
              
              <b>EL SUSCRIPTOR:</b> Con la suscripción del servicio CALATO NIGTH, EL SUSCRIPTOR tendrá derecho a: utilizar el Servicio contratado en los términos y condiciones pactados en las presentes condiciones de contratación, se compromete a cumplir con las obligaciones de pago en los términos y condiciones acordados; a no utilizar los servicios de CALATO NIGTH para la realización de actividades contrarias a las leyes, a la moral, al orden público ni a utilizar los servicios con fines o efectos ilícitos, prohibidos, lesivos de derechos e intereses de terceros, utilizar los accesos, sistemas y recursos asignados únicamente conforme a los usos para los que estuviesen previstos y sin causar ningún perjuicio o daño, directo o indirecto en los mismos. No realizará actividades mediante, o a través del servicio contratado de CALATO NIGTH, que supongan la infracción de las normas sobre telecomunicaciones, propiedad intelectual, propiedad industrial, competencia, competencia desleal, publicidad, protección de los derechos al honor, la privacidad, la protección de los datos personales, la libertad de expresión, la libertad de opinión, la libertad de información, u otros derechos similares, así como en general, que infrinjan derechos u obligaciones de naturaleza civil, penal, administrativa o de cualquier otra naturaleza, declinando CALATO NIGTH cualquier responsabilidad que de ello se pudieran derivar. El incumplimiento por parte de EL SUSCRIPTOR de alguna de las condiciones especificadas en el presente contrato o sus políticas, tendrá como consecuencia la pérdida del servicio contratado, por lo tanto no tendrá la posibilidad de acceder al servicio suscrito. Así como las consecuencias establecidas en el apartado RESOLUCION DEL CONTRATO del presente contrato.<br><br>
              
              <b>CALATO NIGTH:</b> Tendrá derecho a cobrar a EL SUSCRIPTOR el precio por la prestación de los Servicios; contratados, así como a introducir cambios o mejoras en los Servicios prestados a través de CALATO NIGTH a interrumpir los servicios para llevar a cabo todas aquellas tareas que entienda necesarias y/o convenientes con el fin de mejorar y/o reestructurar el mismo. CALATO NIGTH se compromete a prestar los Servicios de acuerdo con los términos establecidos en las Condiciones de Contratación y a realizar sus máximos esfuerzos para garantizar la prestación de los Servicios con un periodo mensual o quincenal para la realización de las reuniones. CALATO NIGTH procurará por todos los medios facilitar a EL SUSCRIPTOR los Servicios en la fecha convenida, pero no será responsable de circunstancias o eventos que se encuentren fuera de su control, tales como la demora, la interrupción o el cambio de fecha para los eventos y reuniones pautadas.<br><br>
              
              <b>DISPONIBILIDAD DE LOS SERVICIOS Y EXONERACION DE RESPONSABILIDAD:</b> La Periodicidad de los servicios de CALATO NIGTH tiene un periodicidad  mensual o quincenal, no obstante, el acceso a estos servicios depende del suscriptor, CALATO NIGTH no será responsable de los problemas derivados de la falta de acceso o de los problemas inherentes a la conectividad a Internet o a las redes telefónicas, o a causas que no hubieran podido ser previstas por las Partes o que aun siendo previsibles, CALATO NIGTH haya realizado todos los esfuerzos razonables para evitarlas o que fueran consideradas como causas fortuitas o de fuerza mayor. EL SUSCRIPTOR es el único responsable frente a cualquier reclamación o acción legal, judicial o extrajudicial, iniciada por terceras personas tanto contra el propio Suscriptor como contra CALATO NIGTH, consecuencia de la infracción de derechos de terceros y/o de normativas aplicables que se deriven del uso ilícito del Servicio contratado, asumiendo el Suscriptor cuantos gastos e indemnizaciones se deriven con motivo de tales reclamaciones o acciones legales CALATO NIGTH quedará exonerada de cualquier tipo de responsabilidad frente al Suscriptor, sus suscriptores y terceros en los supuestos en que las anomalías se deban a acciones u omisiones directamente imputables a EL SUSCRIPTOR, a sus suscriptores, contratistas, arrendatarios, representantes, cesionarios o empleados, o personal que dependa de él o esté a su servicio, incluidos los que sean consecuencia directa o indirecta del mal uso o la manipulación indebida de los servicios, sistemas y recursos por personal ajeno al Suscriptor, o de cualquier ilícito imputable al Suscriptor. CALATO NIGTH no interviene en la creación, transmisión, ni en la puesta a disposición de la información o de los servicios difundidos, prestados, almacenados, recibidos, obtenidos, puestos a disposición, o accesibles a través de CALATO NIGTH o recursos puestos a disposición del Suscriptor, no ejerciendo ninguna clase de control previo ni garantizando la licitud, infalibilidad y utilidad de los mismos, declinando en consecuencia cualquier responsabilidad que de ello se pudiese derivar. EL SUSCRIPTOR exonera a CALATO NIGTH de cualquier responsabilidad relacionada por consiguiente con dicha información o servicios.<br><br>
              
              <b>CONDICIONES DE PAGO, PLAZO Y POLÍTICA DE REINTEGRO:</b> La contratación del servicio CALATO NIGTH será cancelada por EL SUSCRIPTOR en la modalidad de pago de Tarifa mensual por suscripción: Esta tarifa dependerá de los servicios contratados por parte del negocio. El periodo mínimo de suscripción corresponderá a tres meses. En esta modalidad el periodo de suscripción se prorrogará por periodos de igual duración. EL SUSCRIPTOR cancelará el monto de la suscripción correspondiente mediante tarjeta de crédito, o tarjeta de débito, con el compromiso de realizar dicho pago de manera puntual, por ende reconoce y acepta que el no pago en el momento y medio convenidos, faculta a CALATO NIGTH  a no otorgar el servicio solicitado y dará derecho a ejercer las medidas jurídicas necesarias para el cumplimiento a las obligaciones contraídas producto de la presente contratación de suscripción. La continuidad del servicio se verá garantizada por CALATO NIGTH únicamente si EL SUSCRIPTOR se encuentra al día en sus pagos. La inactividad de una cuenta por más de un año consecutivo sin haber sido utilizada, implicará un cargo administrativo de $25 mensuales. Las condiciones para reintegro se encuentran reguladas en la sección de: POLÍTICAS DE COMPRAS Y REÍNTEGROS que forman parte integral del presente contrato.<br><br>
              
              VENCIMIENTO DEL PERÍODO DE SUSCRIPCIÓN EL SUSCRIPTOR deberá notificar CALATO NIGTH sobre su voluntad de no continuar con la suscripción de los servicios, al menos tres días naturales antes previos al vencimiento del período de la suscripción. La cancelación se hará efectiva para el siguiente período de facturación, por lo que EL SUSCRIPTOR mantendrá el mismo acceso y los beneficios de su producto durante el resto del período de facturación que se encuentre vigente al momento de solicitar la cancelación del servicio CALATO NIGTH se reserva el derecho de bloquear el ingreso a los servicios suscritos una vez vencido el período de suscripción. En caso de no notificar EL SUSCRIPTOR su voluntad de no continuar con la suscripción de los servicios en forma previa a su vencimiento, se procederá con la renovación automática de la suscripción entendiéndose prorrogado el plazo contractual por un período igual al finalizado. Al renovarse automáticamente el período de la suscripción al servicio, EL SUSCRIPTOR deberá cancelar el precio de las tarifas vigentes en ese momento, de acuerdo a las condiciones estipuladas en la suscripción. La cancelación de la suscripción no supondrá, en ningún momento, el reembolso de los importes que EL SUSCRIPTOR ya ha pagado como contraprestación a la suscripción a un Servicio. Para solicitar la cancelación de la suscripción, EL SUSCRIPTOR deberá comunicar su petición de forma clara e inequívoca de la siguiente forma: enviando un correo a la dirección calatonight@gmail.com.<br><br>
              
              <b>RESOLUCIÓN DEL CONTRATO.</b> La vigencia del presente contrato y la suscripción de servicios otorgada, se encuentran condicionadas al pago puntual por parte de EL SUSCRIPTOR. En los casos en los que EL SUSCRIPTOR no satisfaga los montos suscritos, o bien, desacate alguna de las condiciones especificadas en el presente contrato, CALATO NIGTH. se reserva la facultad de dar por terminado el presente contrato. Dicha resolución contractual acarrea a EL SUSCRIPTOR la pérdida del servicio de suscripción así como la posibilidad de acceder al servicio suscrito.<br><br>
                        
              <b>PROPIEDAD INTELECTUAL Y DERECHOS DE AUTOR.</b>- El producto y contenido en línea CALATO NIGTH, sus servicios que forman parte de la suscripción de los servicios, son titularidad exclusiva de CALATO NIGTH y se encuentran protegidos por las leyes y tratados internacionales relativos al derecho de propiedad intelectual. Al adquirir el servicio el usuario afiliado o suscriptor no adquiere ningún título o derecho de propiedad sobre los servicios y/o productos que con lleven dicha suscripción. Queda expresamente prohibida la copia o reproducción total o parcial del producto, de los servicios de CALATO NIGTH y de los contenidos propiedad de CALATO NIGTH sin autorización previa de este último. En ningún caso el usuario afiliado podrá divulgar o hacer público lo sucedido dentro de las reuniones, mediante fotos o videos,  así como tampoco es permitido utilizar este contenido en las redes sociales o cualquier medio de comunicación establecido, para de esta forma no afectar a cualquier otro miembro, suscriptor o integrante de CALATO NIGTH Y EL SUSCRIPTOR acepta conocer y respetar la reserva de estos derechos y se compromete a utilizar los servicios y sus contenidos únicamente para los fines propios del presente contrato. Así mismo CALATO NIGTH se reserva el derecho de tomar las medidas legales oportunas para ir contra aquéllos que contravengan la presente cláusula.<br><br>
                        
              <b>TOTALIDAD DEL CONTRATO.</b>- Este Contrato constituye la totalidad de los términos convenidos entre CALATO NIGTH y EL SUSCRIPTOR suprimen todo otro Contrato escrito o verbal, anterior o posterior, relacionado con el objeto del mismo. LAS PARTES no podrán renunciar a sus obligaciones, salvo por autorización expresa de un representante autorizado de cada parte. Queda expresamente convenido que las disposiciones de este Contrato privarán por sobre los términos y condiciones de cualquier orden de compra, carta de entendimiento y cualquier otro acuerdo previo verbal o escrito entre CALATO NIGTH y EL SUSCRIPTOR. El contenido de este Contrato privará por sobre cualquier contrato sin firmar. La declaratoria de alguna de las cláusulas del contrato no afectará al resto del contrato y lo mantendrá válido y vigente por el resto del plazo. CALATO NIGTH se reserva la facultad de modificar o sustituir las presentes Condiciones de Contratación sin previo aviso como consecuencia de cualquier mejora técnica, funcional y operativa que permita una mejora en la prestación del Servicio; nuevas circunstancias económicas y/o comerciales que así lo aconsejen o leyes, reglamentos y normas de aplicación a la prestación del Servicio. CALATO NIGTH comunicará a EL SUSCRIPTOR las nuevas Condiciones de Contratación. En el supuesto de que, dentro de los diez días después de la notificación de las nuevas condiciones, EL SUSCRIPTOR rechace por escrito las mismas, la prestación del Servicio se tendrá por terminada automáticamente. Transcurrido el mencionado plazo sin que EL SUSCRIPTOR haya manifestado por escrito lo contrario, se entenderá que éste acepta las nuevas Condiciones de Contratación. El servicio suscrito podrá ser suspendido sin responsabilidad para, y podrá retener cualquier tipo de pruebas sobre la información, los datos de registro y el propio contenido de la información almacenada y/o gestionada cuando así le sea requerido formalmente por una autoridad judicial competente en la materia.<br><br>
              
              <b>RESOLUCIÓN DEL CONTRATO: CALATO NIGTH</b> se reserva el derecho a resolver el presente contrato con aquellos SUSCRIPTORES que contravengan lo dispuesto en las presentes condiciones, sin posibilidad de reembolso en caso de haberse efectuado el pago.<br><br>
              
              <b>CONFIDENCIALIDAD:</b> Sin perjuicio de lo que el Derecho aplicable disponga en relación con la revelación de las presentes Condiciones de Contratación a las autoridades competentes, las partes asumen el más estricto deber de confidencialidad sobre el contenido de las conversaciones, negociaciones y actuaciones relativas a su objeto, comprometiéndose a no divulgar, ni total ni parcialmente su contenido a terceros sin la autorización previa y por escrito de las demás partes. CALATO NIGTH se compromete a adoptar, actualizar y mantener las medidas organizativas y técnicas que estime necesarias para garantizar la seguridad y confidencialidad de los datos de carácter personal del suscriptor. EL SUSCRIPTOR da su consentimiento expreso para que I CALATO NIGTH pueda utilizar su dirección de correo electrónico para mantenerle informado de cualquier novedad, promoción, concurso o lanzamiento relacionado con sus productos o servicios, estados de cuenta, facturación y cualesquiera otro servicio contratado por el suscriptor o producto del servicio que presta CALATO NIGTH y da su consentimiento de utilizar la información de todos los usuarios que se registren en CALATO NIGTH siendo entendido que estos son clientes de CALATO NIGTH.<br><br>
              
              <b>DISPUTAS:</b> En todo lo relativo a la interpretación y cumplimiento de las obligaciones derivadas de este contrato, las partes se someten a la jurisdicción y competencia de los tribunales de Lima, Perú, renunciando a cualquier otro fuero que pudiera corresponderles.<br><br>
              
              <b>NOTIFICACIONES:</b> Todas las notificaciones, requerimientos, acuerdos, consentimientos, aceptaciones, aprobaciones o comunicaciones que fueren precisas de conformidad con lo dispuesto en las Condiciones de Contratación o que, de una u otra forma, estuvieren relacionadas con las mismas, se considerarán eficaces y válidas a todos los efectos cuando se realicen por escrito, y enviadas a los siguientes domicilios: 
              CALATO NIGTH el envío por correo electrónico a cualquiera de los correos electrónicos que EL SUSCRIPTOR ha comunicado en el formulario de contratación de servicios<br><br>
              
              <b>EL SUSCRIPTOR:</b> Al correo electrónico calatonight@gmail.com. Todas las comunicaciones entre las partes relativas al funcionamiento y gestión del Servicio contratado podrá realizarse por correo electrónico, o telefónicamente.<br><br>
    
    
              Política de Compras y Reintegros Dimoi®<br><br>
              
              Las siguientes son las políticas de compras y reintegros que serán de aplicación al suscriptor como resultado de la contratación de nuestros servicios, los cuales serán cancelados por el suscriptor en la modalidad de pago por adelantado con un mes como plazo mínimo e independientemente de la modalidad de servicio contratada.<br><br>
              
              La continuidad del servicio se verá garantizada por CALATO NIGTH únicamente si el suscriptor se encuentra al día en sus pagos. Para efectos de reintegro el mismo procederá únicamente si el suscriptor contacta a CALATO NIGTH en un plazo no mayor a tres días naturales después de efectuada la compra de los servicios.<br><br>
              
              Como garantía de lo anterior se realiza la presente suscripción en línea de las Condiciones Generales de Contratación de los servicios de CALATO NIGTH, así como la aceptación del suscriptor de los términos y condiciones del servicio de suscripción, donde el suscriptor y CALATO NIGTH expresamente acordarán entre otros aspectos los siguientes:  precio, cantidad de agendas, duración.<br><br>
              
              CALATO NIGTH se reserva el derecho a cambiar sus políticas de compras y reintegros al publicar nuevos términos en sus sitios web en cualquier momento.<br><br>
              
              
              <b>Política de Privacidad CALATO NIGTH</b><br><br>
              
              Las siguientes son las políticas y procedimientos para delimitar los aspectos de privacidad de los suscriptores de CALATO NIGTH. El propósito de este aviso de privacidad es informar a nuestros suscriptores. Denominamos esta información “Información de identificación” la cual según el giro del negocio y del servicio de CALATO NIGTH será visible y pública tanto para los suscriptores y los usuarios. Lo anterior debido a que el uso y funcionamiento adecuado del servicio depende de que la información de los suscriptores y de sus negocios sea visible para sus clientes actuales y posibles potenciales clientes. Ahora bien, es importante recalcar que no se divulga información de los clientes de nuestros suscriptores y de sus negocios a otros suscriptores los cuales serán tratados bajo el consentimiento informado de acuerdo a las Políticas de Privacidad y Términos de Uso de CALATO NIGTH con la finalidad de gestionar su suscripción al servicio. Consentimiento que quedará otorgado de conformidad mediante la suscripción del presente Acuerdo. No obstante, CALATO NIGTH no se hace responsable de la reservación de citas y reservas en negocios de sus competidores.<br><br>
              
              CALATO NIGTH, quedará, además, autorizado para utilizar dicha “información de identificación”, para brindar un servicio de manera personalizada a nuestros suscriptores, crear permisos de acceso a los servicios que brinda, así como a su página de negocio, enviar correos electrónicos como parte del servicio para mantenerle informado de cualquier novedad, promoción, concurso o lanzamiento relacionado con sus productos o servicios, estados de cuenta, facturación y cualesquiera otro servicio contratado por el suscriptor o producto del servicio que presta CALATO NIGTH.<br><br>
              
              “Información de identificación”: Toda aquella información que puede ser asociada con un individuo específico o empresa, incluyendo nombre de una persona, fecha de nacimiento, dirección, número de teléfono, dirección de correo. Información suministrada a raíz de:<br><br>
              
              1. Suscripción a nuestros servicios.<br>
              2. Compra de servicios y cualquier otra transacción en nuestro sitio web.<br>
              3. Envío mediante formulario o correo electrónico, con el fin de suscribir u obtener mayor información de nuestros servicios.<br><br>
              
              El sitio web de CALATO NIGTH ha tomado las medidas de seguridad razonables para la protección de la información de los suscriptores y usuarios con el fin de evitar el uso indebido, manipulación o acceso no autorizado a dicha información. Sin embargo, los suscriptores reconocen que las medidas indicadas podrían no ser suficientes ante la pérdida accidental de la información, el uso de nuevas tecnologías o ataque de hackers asimismo CALATO NIGTH puede contener enlaces a otros sitios web que no sean propiedad o no sean controlados por CALATO NIGTH y por lo tanto no puede garantizar la implementación de medidas similares en dichos sitios web o enlaces, dado que no tiene ningún control sobre los mismos. Cualquier información personal recolectada por estos sitios web de terceros no está relaciona con esta Política de Privacidad. Le recomendamos que usted revise las políticas de privacidad de los sitios web de estos terceros antes de ingresar cualquier información personal. CALATO NIGTH se reserva el derecho a cambiar su Política de Privacidad al publicar nuevos términos en sus sitios web en cualquier momento.<br><br>
              
              Forman parte integral de este contrato las Políticas de Privacidad y de Compras y Reintegros del servicio aquí detalladas. El presente contrato refleja la voluntad de cada una de las partes, libremente expresada bajo los principios de buena fe y responsabilidad en los negocios. Las partes manifiestan entender en su totalidad el significado y consecuencias tanto prácticas como legales de las estipulaciones contenidas en el presente documento y en señal de su conformidad ACEPTAN las presentes condiciones generales de contratación de los servicios, así como las políticas citadas para el servicio de CALATO NIGTH en todos sus extremos y las declaran firmes y valederas.
            </p>
    
        </div>
      </div>
        
      <div class="suscribete-button-container"> 
          <button routerLink="/subscribe" type="button" class="btn btn-secondary">Suscribete!</button>
      </div>
    
    </div>
</div>

