<div class="landing">

  <div class="logo" >
    <img class="img-fluid" src="/assets/img/calato.png" >
  </div>

  <div class="suscribete-button-container"> 
      <button routerLink="/subscribe" type="button" class="btn btn-secondary">Suscribete</button>
  </div>

  <div class="calato-description">
    <span>
      Calato night es un espacio abierto, de reuniones  sociales para conocer personas con mentalidad abierta y sin inhibiciones. Nuestra idea, es crear un espacio diferente para todas aquellas personas que quieren salir de la rutina diaria.
    </span>
  </div>

  <div class="social">
    <a target="_blank" href="https://www.facebook.com/Calato-Night-424793511369425/"><img src="/assets/img/social/facebook.png"></a> 
    <a target="_blank" href="https://www.instagram.com/calatonight/"><img src="/assets/img/social/instagram.png"></a> 
  </div>

</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#isAdult">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade is-adult-modal" id="isAdult" tabindex="-1" role="dialog" aria-labelledby="isAdultTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="isAdultTitle">Bienvenidos a este club.</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="warning">
            Gracias por querer formar parte de este grupo. Si eres mayor de 18 años puedes acceder al sitio web.
        </div>            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary no-isnot-adult" (click)="isAdult(false)" >Salir</button>
        <button type="button" class="btn btn-primary yes-its-adult" data-dismiss="modal" (click)="isAdult(true)" >Entrar!</button>
      </div>
    </div>
  </div>
</div>
  
<canvas id="canvas"></canvas>
