.landing {
    text-align: center;
}


.suscribete-button-container {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;

    button {
        width: 100%;
        border-radius: 20px;
        background-color: #401c56;
        border-color: #472e40;        
    }


    button:hover {
        background-color: #260f35;
        border-color: #47283e;        
    }

    button:focus {
        box-shadow: 0 0 0 0.2rem rgba(42, 21, 37, 0.53);
    }

    button:active {
        background-color: #260f35;
    }

} 

.is-adult-modal {

    .modal-content {
        background:#020005;
        color: #fff;
        border: 1px solid #e7b9ff;
        box-shadow: inset 0 0 8px 3px #260022;

        .modal-header {
            border: 0;
        }
        
        .modal-footer {
            border:0;
        }

        .modal-title {
            font-family: 'Poppins', sans-serif;
            margin: 0 auto;
            font-size: 25px;
        }

    } 

    .yes-its-adult {
        background: black;
        border: 1px solid #c9c9c9;
    }
    
}

.calato-description{
    max-width: 500px;
    margin: 0 auto 20px auto;
    color: #c1c1c2;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.social a {
    padding: 0 5px;
    :hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.warning {
    text-align: center;
}